@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300&display=swap");
.text-primary {
  color: #006B2B !important;
}

.bg-primary {
  background-color: #006B2B !important;
}

.bg-secondary {
  background-color: #CBD5CB !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.logo-img {
  width: 150px;
}

.card-img-top {
  height: 40vh;
  border-radius: 0 !important;
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card > a {
  background-color: black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.boton-ver-mas {
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card-img-top:hover {
  opacity: .4;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card:hover .boton-ver-mas {
  opacity: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.card {
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 0 !important;
}

.card:hover {
  -webkit-box-shadow: -6px -7px 7px rgba(0, 0, 0, 0.2);
          box-shadow: -6px -7px 7px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.offcanvas {
  z-index: 10000;
}

.btn:hover {
  -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.boton-delete, .cart-widget, .btn, .btn-success, .btn.primary, .btn-light {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.boton-delete:hover, .cart-widget:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.vh-50 {
  height: 50vh;
}

.items-carrito:nth-child(odd) {
  background-color: white;
}

.items-carrito:nth-child(even) {
  background-color: #EAEAEA;
}

.btn {
  border-radius: 50rem;
}

.btn-success:hover {
  color: #2B006B;
  background-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-primary {
  color: white;
  background-color: #006B2B;
  border-color: #006B2B;
}

.btn-primary:hover {
  color: #006B2B;
  background-color: white;
  border-color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-primary:disabled {
  color: #fff;
  background-color: #406951;
  border-color: #406951;
}

.boton-light:hover {
  color: white !important;
  background-color: #006B2B !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.btn-secondary {
  color: #006B2B;
  background-color: white;
  border-color: #006B2B;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #006B2B;
  border-color: #006B2B;
}

.bagde-carrito {
  top: 0;
  right: 0;
  padding: .4rem;
}

.btn-carrito {
  max-width: 40px;
}

.btn-outline-primary {
  color: #006B2B;
  border-color: #006B2B;
}

.w-75-xl {
  width: 75%;
}

.w-50-xl {
  width: 50%;
}

.section-QS {
  padding: 7rem 0;
}

.about-tittle {
  letter-spacing: .8rem;
}

.links-footer {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.links-footer:hover {
  color: #323632 !important;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media (max-width: 992px) {
  .NavCart {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo-img {
    width: 80px;
  }
  .w-90-mob {
    width: 90%;
  }
}
/*# sourceMappingURL=App.css.map */